/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.title{
    padding: 10px;
    padding-left: 25px;
}

div{
    padding: 5px 15px;
}

canvas{
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

body{
    background: #80bdff;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

button{
    font-size: 20px;
    font-weight: 500;
    color: #007bff;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}

.mainContent{
    display: flex;
    flex-direction: row;
}

.drawBox.activeDraw,
.roomLogBox.activeRoomLog,
.selectionBox.activeSelection{
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

/*
.drawBox{
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}
*/

.roomLogBox{
    width: 550px;
    height:300px;
    background:#fff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.selectionBox{
    width: 550px;
    background:#fff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.selectionBoxHeader, .roomLogBoxHeader{
    height: 70px;
    padding: 0 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
}

.selectionBoxHeader .title, .roomLogBoxHeader .title{
    font-size: 20px;
    font-weight: 600;
}

.selectionBox section{
    padding: 25px 30px 20px 30px;
    background: #fff;
}

.selectionBox section .optionList{
    padding: 20px 0;
    display: block;
}

.selectionBox section .optionList .option{
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}

section .optionList .option:hover{
    color: #004085;
    background: #cce5ff;
    border-color: #b8daff;
}

section .optionList .option.chosen{
    color: #155724;
    background: #d4edda;
    border-color: #c3e6cb;
}

.selectionBox .selectionButton,
.selectionBox .ansButton{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    color: #fff;
    background: #007bff;
    border-radius: 5px;
    border: 1px solid #007bff;
    cursor: pointer;
    transition: all 0.3s ease;
    float: right;
}

.selectionBox .selectionButton:hover,
.selectionBox .ansButton:hover{
    background: #0263ca;
}
